---
title: about
---

{% include header.html %}

<div class="container">

<h1>A fresh approach to the lottery industry</h1>

<div class="row">
<div class="col-xs-12 col-md-12">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="about.html">Company</a></li>
	  <li><a href="team.html">Team</a></li>
	</ul>
</div>
</div>

<p class="lead">Geonomics was founded in 2008 by brothers James and Henry Oakes with the aim of bringing a fresh approach to the lottery industry. From the outset the vision has been to create genuinely innovative products, built on rock-solid technology, delivered in a class-leading way.</p>

<p>Our flagship product, <a href="#">GeoLotto</a>, is an online lottery game that uses location technology to engage a new generation of lottery players.</p>

<p>We’re based in London, England and are privately owned.</p>

<hr>

<h3>Values</h3>

<ul>
	
</ul>

<hr>

<h3>Ownership & Investment</h3>

<hr>

<h3>Responsible Gaming</h3>
<ul>
	<li>Gamble Aware (steal something from the Help page)</li>
</ul>

<hr>

<h3>Corporate Social Responsiblity</h3>
<p>In addition to its commitment to creating innovative games, Geonomics proudly supports Anthony Nolan, the UK blood cancer charity.</p>
<p>Anthony Nolan is a pioneering charity that saves the lives of people with blood cancer who need a blood stem cell, or bone marrow transplant. In 1974, Anthony Nolan's mother, Shirley, set up the world's first bone marrow register to match donors with people who desperately needed a transplant.</p>
<p>Geonomics runs regular fundraising events throughout the year and has raised thousands of pounds in support of Anthony Nolan's important work.</p>
</div> <!-- /container -->

{% include footer.html %}