---
title: about
---

{% include header.html %}

<div class="container">

	<div class="page-header">
		<h1>A fresh approach to the lottery industry
		</h1>
	</div>


<div class="row">
	<div class="col-xs-12 col-md-4">

	<h3>Geonomics was founded in 2008 by brothers James and Henry Oakes with a vision of bringing new and innovative games to the lottery industry.</h3>
	</div>
	
	<div class="col-xs-12 col-md-7">
	
		<p>Our flagship products &mdash; <a href="geolotto.html">GeoLotto</a> (formerly GeoSweep) and <a href="treasure-hunt.html">Treasure Hunt</a> &mdash; are online lottery games that use location technology to engage a new generation of lottery players. We've been running both games in the UK since the end of 2010 under our own gambling license. We also sell and license our games to lottery operators around the world.</p>
		
		<p>Since our inception as Roboreus (we later rebranded to Geonomics in January 2013), we've grown to a team of over 40 world-class game designers, software  engineers, technologists and business experts, all led by an experienced and pragmatic management team.</p>
		
		<p>We're headquartered in London and privately owned.</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Our Mission</h3>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-7">
		<h4>We're here to change the face of the global lottery industry.</h4>

		<p>As lottery players age, lottery operators are facing the enormous challenge of replacing their current customer base with the next generation of players. Typically younger and more engaged with technology, this new generation of players is a potential goldmine but their disconnection from traditional lottery gaming presents a hurdle for the growth of future revenue.</p>
		<p>We believe the lottery industry needs to create new games that appeal to new sensibilities. And we're here to make that happen.</p>
		</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Values</h3>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-7">

		<h4>Change is an opportunity</h4>
		
		<p>We're not afraid of change, that's why we're here: innovating in the lottery industry takes courage, determination and intelligence. We've seen things that need to be transformed and we're ready to innovate.</p>
		
		<h4>There's always room for improvement</h4>
		
		<p>We make world-class products and deliver the highest calibre of services but that doesn't mean we're satisfied with our work so far. We're constantly striving to make our products better.</p>
		
		<h4>Our people can do great things</h4>
		
		<p>We believe our team of engineers, designers and business operatives are exceptionally gifted. We have a judicious hiring process, give our staff ownership of their work, and promote a relaxed but supremely professional work culture.</p>
	</div><!-- /.col -->
</div><!-- /.row -->


<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Patents</h3>
	</div>
	
	<div class="col-xs-12 col-md-7">
	<p>With a US Patent (number 8,167,701 B2) and a further 18 applications pending, our core technology and gaming concept is protected from infringement.</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Ownership & Investment</h3>
	</div>
	<div class="col-xs-12 col-md-7">
	<p>Geonomics is a privately owned company. A seed investment of £40k in July 2008 was followed by a 'Series A' funding round of £15m from the <a href="https://www.alc.ca/">Atlantic Lottery Corporation</a> in October 2011. In December 2012, <a href="http://www.tipp24.com/">Tipp24</a> invested £10m in our second round of institutional funding.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-4">
	<h3>Executive Team</h3>
	</div>
	<div class="col-xs-12 col-sm-3">	
		<img src="images/model-043.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-4 text-collapse">	
		<h4>James Oakes</h4>
		<p>Chief Executive Officer & Co-founder</p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-sm-offset-4">	
		<img src="images/model-044.jpg" class="img-responsive"> 
	</div>	
	<div class="col-xs-12 col-sm-4 text-collapse">
		<h4>Henry Oakes</h4>
		<p>Sales Director & Co-founder</p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-sm-offset-4">	
		<img src="images/model-045.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-4 text-collapse">
		<h4>Matt Young</h4>
		<p>Chief Technology Officer</p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-sm-offset-4">	
		<img src="images/model-008.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-4 text-collapse">
		<h4>Helen Crosby</h4>
		<p>Chief Operations Officer</p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->


<hr>

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<h3>Non-executive Directors</h3>
	</div>
	<div class="col-xs-12 col-sm-4 text-collapse">
		<h4>Ben Arbib</h4>
		<p>Chairman</p>
		<h4>Dr. Hans Cornehl</h4>
		<p>Chief Executive Officer, Tipp24</p>
		<h4>Matthew Byrne</h4>
		<p>Angel Investor</p>
		<h4>Sean O'Connor</h4>
		<p>Chairman, Atlantic Lottery Corporation</p>
		<h4>Dr. Helmet Becker</h4>
		<p>Chief Marketing Officer, Tipp24</p>	
	</div>
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Memberships & Compliance</h3>
	</div>
	<div class="col-xs-12 col-md-7">
	<p>We hold associate memberships for the <a href="https://www.world-lotteries.org/cms/">World Lottery Association</a>, <a href="http://www.naspl.org/">North American Association of State and Provincial Lotteries (NASPL)</a> and <a href="https://www.european-lotteries.org/organization">European Lotteries (EL)</a>.</p>
	<p>We are regulated by the <a href="http://www.gamblingcommission.gov.uk/">UK Gambling Commission</a>, certified by ISO and hold <a href="https://www.pcisecuritystandards.org/">PCI</a> compliance certification.</p>
		<img data-src="holder.js/60x60" alt="...">
		<img data-src="holder.js/60x60" alt="...">
		<img data-src="holder.js/60x60" alt="...">
		<img data-src="holder.js/60x60" alt="...">
		<img data-src="holder.js/60x60" alt="...">
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Responsible Gaming</h3>
	</div>
	<div class="col-xs-12 col-md-7">
		<p>We proudly support <a href="http://www.gambleaware.co.uk/">GambleAware</a> and <a href="http://www.gamcare.org.uk/">GamCare</a>, two organisations that encourage responsible gaming and provide information to help players make informed decisions.</p>
		<img data-src="holder.js/60x60" alt="...">
		<img data-src="holder.js/60x60" alt="...">
	</div><!-- /.col -->
</div><!-- /.row -->
<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Corporate Social Responsibility</h3>
	</div>
	<div class="col-xs-12 col-md-7">
	<p>In addition to our commitment to creating innovative games, Geonomics proudly supports <a href="http://www.anthonynolan.org/">Anthony Nolan</a>, the UK blood cancer charity.</p>
<p><strong>Anthony Nolan</strong> is a pioneering charity that saves the lives of people with blood cancer who need a blood stem cell, or bone marrow transplant.</p>
<p>Geonomics runs regular staff fundraising events throughout the year, raising thousands of pounds in support of Anthony Nolan's important work.</p>
	<img data-src="holder.js/60x60" alt="...">
	</div>
</div> <!-- /.row -->
</div> <!-- /.container -->

{% include footer.html %}