---
title: Business Operations at Geonomics
active: people
---

{% include header.html %}

<div class="container">

<!-- <div class="row" style="margin-top: 30px;">
	<div class="col-xs-12 col-md-12">
		<ul class="nav nav-tabs">
			<li><a href="careers.html">Working here</a></li>
			<li><a href="teams.html">Teams</a></li>
			<li><a href="jobs.html">Jobs</a></li>
		</ul>
	</div>		
</div> -->

<div class="page-header">
	<h1>Business Operations<br><small>(Supporting statement goes here, about 12 words max.)</small></h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-008.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>(This is a brief statement by the team lead.)</p>
			<small>Helen Crosby, Chief Operations Officer</small>
		</blockquote>
	</div>
</div>

	<hr>

	<div class="row">
	<div class="col-xs-12 col-md-4">		
		<h3>(Message 1)</h3>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h3>(Message 2)</h3>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">
		<h3>(Message 3)</h3>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>Our focus areas</h2>
	</div>
	<div class="col-xs-12 col-md-8">
			<h3>Product Management</h3>
	<p>[Mention requirements, analytics...] (Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
			<h3>Project Management</h3>
	<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
			<h3>Office Administration</h3>
	<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
			<h3>Human Resources</h3>
	<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>
				<h3>Finance</h3>
	<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>		
					<h3>Legal, IP and Commercial Negotiation</h3>
	<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.)</p>


		
	</div>
</div>

<!--
<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>Hear what our team has to say</h2>
	</div>
	<div class="col-xs-12 col-md-2">
		<img src="images/model-006.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
			<p>"Being part of the process as the company has gone from four people to an up-and-coming force in the lottery world is something that I'm proud of."</p>
			<small>James Maidment, Software Architect</small>
		</blockquote>
	</div>
</div> -->

{% include vacancies-panel.html %}

</div><!-- /.container -->

{% include footer.html %}