---
title: business
---

{% include header.html %}

<div class="container">
<div class="page-header">
	<h1>Business at Geonomics<br><small>(Introduction to department here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</small>
	</h1>
</div>
	
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-043.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>(This is a brief statement by this particular person. It should be concise but interesting.)</p>
			<small>James Oakes, Chief Executive Officer/Co-founder</small>
		</blockquote>
	</div>
</div>

	<hr>

	<div class="row">
	<div class="col-xs-12 col-md-4">		
		<h4>Business Operations</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h4>Sales</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">
		<h4>Analytics</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-044.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>(This is a brief statement by this particular person. It should be concise but interesting.)</p>
			<small>Henry Oakes, Sales Director/Co-founder</small>
		</blockquote>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">		
		<h4>Legal & Compliance</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h4>Finance</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-md-4 col-md-offset-4">		
		<h4>HR</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h4>Office Administration</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-008.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>(This is a brief statement by this particular person. It should be concise but interesting.)</p>
			<small>Helen Crosby, Sales Director/Co-founder</small>
		</blockquote>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>(Additional Information)</h3>
	</div>
	<div class="col-xs-12 col-md-8">
		<p>(In this section, anything not covered in the Benefits can be stated here. Or, alternatively, benefits can be elaborated upon to provide extra detail.)</p>
		<p>(This section can be a few paragraphs long if required.)</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Hear what our team has to say</h3>
	</div>
	<div class="col-xs-12 col-md-2">
		<img src="images/model-006.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
			<p>(Here's a quote from this employee. We can only hope it will be meaningful.)</p>
			<small>Dom MacBean, Support Analyst</small>
		</blockquote>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-md-2 col-md-offset-4">
		<img src="images/model-005.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
			<p>(Here's a quote from this employee. We can only hope it will be meaningful.)</p>
			<small>Carly Mae Penworthy, European Sales Director</small>
		</blockquote>
	</div>
</div><!-- /.row -->

{% include vacancies-panel.html %}

<p class="well">Learn more about our teams: &nbsp;<a href="engineering.html">Engineering</a> &nbsp;|&nbsp; <a href="Design.html">Design</a></p>

</div><!-- /.container -->

{% include footer.html %}