---
title: careers
---

{% include header.html %}

<div class="container">

<h1>Join the team</h1>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<img src="spacer.png" width="100%" height="300px">
	</div>
</div><!-- /row -->

<p class="lead">Hailing from all corners of the globe, the Geonomics team is proud to feature an eclectic mix of talented individuals across its creative, engineering and business teams.</p>
<p class="lead">When we hire people, we focus on what really matters: skills, attitude and professionalism. We don't value experience alone, and we don't care how you look, dress or what kind of music you listen to.</p>
<p class="lead"><strong>We just care how you think.</strong></p>
<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="well">
			<h4>We're pioneers in our field</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="well">
			<h4>We're young, ambitious and professional</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="well">
			<h4>We believe in a great social atmosphere</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
</div>


<hr>

<h4>Our teams</h4>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a href="engineering.html">Engineering</a> &rarr;</h3>
		  </div>
		  <div class="panel-body">
		    We're doing stuff.
		  </div>
		</div> <!-- /panel -->
	</div><!-- /col -->
	
		<div class="col-xs-12 col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a href="creative.html">Creative</a> &rarr;</h3>
		  </div>
		  <div class="panel-body">
		    We're designing games that are fun, rewarding and have great user experiences.
		  </div>
		</div> <!-- /panel -->
	</div><!-- /col -->

		<div class="col-xs-12 col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><a href="business.html">Business</a> &rarr;</h3>
		  </div>
		  <div class="panel-body">
		    We're doing stuff.
		  </div>
		</div> <!-- /panel -->
	</div><!-- /col -->
		
</div><!-- /row -->

<h2>Office Life</h2>

<hr>

<h2>Benefits</h2>

<hr>

<h2>Graduates</h2>

<hr>

<h2>Interns</h2>

<hr>

<h2>Vacancies</h2>
<p><a href="vacancies.html">Vacancies</a></p>

<hr>

</div> <!-- /container -->

{% include footer.html %}