---
title: Careers
active: careers
---

{% include header.html %}

<div class="container">

<div class="page-header">
	<h1>Work with us</h1>
</div>
<div class="row">
		<div class="col-xs-12 col-md-8">

			<p class="lead">We need the brightest minds and most amazing people to help us create the next wave of lottery games.</p>
		</div>
</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<p><img data-src="holder.js/100%x350" alt="..."></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h2>Job Openings</h2>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h3>Engineering</h3>
			<ul class="text-collapse">
				<li><h4><a href="java-developer.html">Java Developer</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">Java Developer (IWG Team)</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">Senior Java Developer</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">Linux Systems Admin</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">Graduate Java Developer</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">2013 Summer Software Development Intern</a></h4>
				<p>London, UK</p></li>
			</ul>
			
			<h3>Design</h3>
			<ul class="text-collapse">
				<li><h4><a href="#">Senior Designer</a></h4>
				<p>London, UK</p></li>
				<li><h4><a href="#">Junior Designer</a></h4>
				<p>London, UK</p></li>
			</ul>
			<h3>Operations</h3>
			<ul class="text-collapse">
				<li><h4><a href="#">Business Associate</a></h4>
				<p>London, UK</p></li>
			</ul>

		</div><!-- /.column -->
	</div><!-- /.row -->
	
<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
			<h2>Why Geonomics is a great place to work</h2>
	</div>
	<div class="col-xs-12 col-md-8">
			<h3>We're genuine pioneers in our field</h3>
			<p>While the U.S. has its high-flying tech startups, the regulatory constraints of the U.S. gambling industry discourages innovation. Here in London, free of those limitations, we're uniquely positioned as one of the world's leading lottery gaming startups. And we're investing all of our resources to take advantage.</p>
			<h3>We're smart, energetic and professional</h3>
			<p>Fusing the spirit of a young startup with the wisdom drawn from decades of senior management experience, we set the highest standards for our products and our conduct. We encourage creativity, collaboration, organisation and a firm adherence to the principles of Agile methodology.</p>
			<h3>We've created a great work culture</h3>
			<p>By assembling a team of bright, friendly and like-minded people, we've crafted an office culture that merges a great work ethic with a fun but relaxed social atmosphere. We believe in our team and empower them to perform.</p>
			<h3>We believe your experience isn't the only thing that counts</h3>
			<p>You don't have to have years of experience in the gaming industry to work at Geonomics. We consider everything you can offer: your skills, attitude and personality. We don't care how you look, dress or what kind of music you listen to. We just care how you think.</p>
		</div>
	</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>Office Life</h2>
	</div>

	<div class="col-xs-12 col-md-8">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<img data-src="holder.js/100%x350" alt="...">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
		</div>

		<p>We offer a friendly, informal and collaborative working environment with ample opportunity to develop your career and become part of the social fabric of the company. We don't do suits, empty promises or meaningless buzzwords but we do work effectively and always with purpose. When we propose an idea or a deadline, we stick to it.</p>
		
			<div class="row">
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
		</div>
		
		<p>Our bright, modern office in central London is a genteel hub of thought and activity, decorated with a full gamut of novelty hats, and equipped with a pool table and fully-stocked bar. This fusion of the professional and the playful reflects one of our simplest desires: that we empower our staff to make meaningful contributions to the company's success while allowing them to enjoy their physical and social surrounds.</p>
		
		
	</div>
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>Work Benefits</h2>
	</div><!-- /.col -->

	<div class="col-xs-12 col-md-7">
		<h3>Private health insurance</h3>
		
		<p>We offer optional private health insurance with Bupa. You can have single, couple or family cover.</p>
		
		<h3>Childcare vouchers</h3>
		
		<p>We operate a government childcare voucher scheme through salary sacrifice. You don’t pay tax or National Insurance on the vouchers.</p>
		
		<h3>Holiday</h3>
		
		<p>In addition to 24-days holiday per year, you also get get an extra day off for your birthday. You can also buy or sell up to 5 additional days of holiday a year.</p>
		
		<h3>Cycle-to-work scheme</h3>
		
		<p>We're part of the Evans cycle-to-work scheme: you can buy a bike  through salary sacrifice and we won’t charge you tax or National Insurance. At the end of the hire period, the bike is yours to keep.</p>
		
		<h3>Gym membership discount</h3>
		
		<p>We offer a monthly allowance of £25/month for any gym of your choice. We also offer a corporate discount for our nearby gym &mdash; the Oasis Sports Centre &mdash; located in London's Covent Garden.</p>
		
		<h3>Breakfast &amp; refreshments</h3>
		
		<p>Our kitchen is stocked with cereal, fresh fruit, toast and crumpets in addition to a wide selection of drinks from teas and coffees to fizzy drinks. We also have a bar complete with a selection of very interesting spirits (watch out for the Fernet Branca!), beer, cider and wine.</p>
		</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>What our team thinks</h2>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-8">

	<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-006.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>There’s never a dull moment at Geonomics. Couple a great working environment with the fringe benefits of our purple pool table and 'Burrito Thursdays' and you’ve got one hell of a way to space out your weekends.</p>
					<small>Michael Hellicar, UX Designer</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
		<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-005.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>(Testimonial from staff member... lorem ipsum dolor sit amet laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.)</p>
					<small>Carly Penworthy, European Sales Director</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
			<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-043.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>(Testimonial from staff member... lorem ipsum dolor sit amet laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.)</p>
					<small>Dom MacBean, Support Analyst</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
		 
	</div><!-- /.col -->
</div><!-- /.row -->

{% include team-panel.html %}

</div> <!-- /container -->

{% include footer.html %}