---
title: careers
---

{% include header.html %}

<div class="container">

<div class="page-header">
	<h1>Working at Geonomics</h1>
	<p>
</p>
</div>

<!-- Careers tab navigation -->
<div class="row">
	<div class="col-xs-12 col-md-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="careers.html">Working here</a></li>
			<li><a href="teams.html">Teams</a></li>
			<li><a href="jobs.html">Jobs</a></li>
		</ul>
	</div>		
</div><!-- /.row -->

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<p><img data-src="holder.js/100%x350" alt="..."></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-7 col-md-offset-4">
			<h2>When we hire people, we focus on what really matters: skills, attitude and professionalism.</h2>
			<p class="lead">We don't value experience alone, and we don't care how you look, dress or what kind of music you listen to.</p>
			<p class="lead">We just care how you think.</p>
		</div><!-- /.col -->
	</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
			<h3>What makes Geonomics such a great place to work?</h3>
	</div>
	<div class="col-xs-12 col-md-8">
			<h4>We're genuine pioneers in our field</h4>
			<p>While the U.S. has its high-flying tech startups, the regulatory constraints of the U.S. gambling industry discourages innovation. Here in London, free of those limitations, we're uniquely positioned as one of the world's leading lottery gaming startups. And we're investing all of our resources to take advantage.</p>
			<h4>We're young, smart and professional</h4>
			<p>We might be a young team but we're switched-on: we have extraordinarily high standards for our products and our professional conduct. We encourage collaboration, organisation and a firm adherence to the principles of Agile methodology.</p>
			<h4>We've created a great work culture</h4>
			<p>By assembling a team of bright, friendly and like-minded people, we've crafted an office culture that merges a great work ethic with a fun but relaxed social atmosphere. We believe in our team and empower them to perform.</p>
		</div>
	</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Office Life</h3>
	</div>

	<div class="col-xs-12 col-md-8">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<img data-src="holder.js/100%x350" alt="...">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-6">

					<img data-src="holder.js/100%x250" alt="...">
			</div>
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
		</div>

		<p>We offer a friendly, informal and collaborative working environment with ample opportunity to develop your career and become part of the social fabric of the company. We don't do suits, empty promises or meaningless buzzwords but we do work effectively and always with purpose. When we propose an idea or a deadline, we stick to it.</p>
		
			<div class="row">
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
			<div class="col-sm-6 col-md-6">
					<img data-src="holder.js/100%x250" alt="...">
			</div>
		</div>
		
		<p>Our bright, modern office in central London is a genteel hub of thought and activity, decorated with a full gamut of novelty hats, and equipped with a pool table and fully-stocked bar. This fusion of the professional and the playful reflects one of our simplest desires: that we empower our staff to make meaningful contributions to the company's success while allowing them to enjoy their physical and social surrounds.</p>
		
		
	</div>
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Work Benefits</h3>
	</div><!-- /.col -->

	<div class="col-xs-12 col-md-7">
		<h4>Private health insurance</h4>
		
		<p>We offer optional private health insurance with Bupa. You can have single, couple or family cover.</p>
		
		<h4>Childcare vouchers</h4>
		
		<p>We operate a government childcare voucher scheme through salary sacrifice. You don’t pay tax or national insurance on the vouchers.</p>
		
		<h4>Holiday</h4>
		
		<p>In addition to 24-days holiday per year, you also get get an extra day off for your birthday. You can also buy or sell up to 5 additional days of holiday a year.</p>
		
		<h4>Cycle-to-work scheme</h4>
		
		<p>We're part of the Evans cycle-to-work scheme: you can buy a bike  through salary sacrifice and we won’t charge you tax or national insurance. At the end of the hire period, the bike is yours to keep.</p>
		
		<h4>Gym membership discount</h4>
		
		<p>We offer a monthly allowance of £25/month for any gym of your choice. We also offer a corporate discount for our nearby gym &mdash; the Oasis Sports Centre &mdash; located in London's Covent Garden.</p>
		
		<h4>Breakfast &amp; refreshments</h4>
		
		<p>Our kitchen is stocked with cereal, fresh fruit, toast and crumpets in addition to a wide selection of drinks from teas and coffees to fizzy drinks. We also have a bar complete with a selection of very interesting spirits (watch out for the Fernet Branca!), beer, cider and wine.</p>
		</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>What our team thinks</h3>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-8">

	<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-006.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>There’s never a dull moment at Geonomics. Couple a great working environment with the fringe benefits of our purple pool table and 'Burrito Thursdays' and you’ve got one hell of a way to space out your weekends.</p>
					<small>Michael Hellicar, UX Designer</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
		<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-005.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>(Testimonial from staff member. We can only hope it'll be interesting. Otherwise it'll just be lorem ipsum dolor sit amet.)</p>
					<small>Carly Penworthy, European Sales Director</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
			<!-- Testimonial start -->
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<img src="images/model-043.jpg" width="100%" class="img-circle">
			</div>
			<div class="col-xs-12 col-md-8">
				<blockquote>
					<p>(Testimonial from staff member. We can only hope it'll be interesting. Otherwise it'll just be lorem ipsum dolor sit amet.)</p>
					<small>Dom MacBean, Support Analyst</small>
				</blockquote>		
			</div><!-- /.col -->
		</div><!-- /.row --><!-- Testimonial end -->
		 
	</div><!-- /.col -->
</div><!-- /.row -->

{% include vacancies-panel.html %}

</div> <!-- /container -->

{% include footer.html %}