---
title: creative
---

{% include header.html %}

<div class="container">
<div class="page-header">
	<h1>Design at Geonomics<br><small>From wireframes to prototypes to striking graphics, we're creating the lottery industry's most delightful and engaging gaming and user experiences across web and mobile.</small>
	</h1>
</div>
	
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-045.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>This is a brief statement by the team lead to reinforce the goals, philosophy and overriding benefits of working in this department.</p>
			<small>Sheen Yap, Head of Creative</small>
		</blockquote>
	</div>
</div>

	<hr>

	<div class="row">
	<div class="col-xs-12 col-md-4">		
		<h4>(Sales Point 1)</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h4>(Sales Point 2)</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">
		<h4>(Sales Point 3)</h4>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>(Additional Information)</h3>
	</div>
	<div class="col-xs-12 col-md-8">
		<p>(In this section, anything not covered in the Benefits can be stated here. Or, alternatively, benefits can be elaborated upon to provide extra detail.)</p>
		<p>(This section can be a few paragraphs long if required.)</p>

	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>Hear what our team has to say</h3>
	</div>
	<div class="col-xs-12 col-md-2">
		<img src="images/model-006.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
			<p>The company culture is what really makes Geonomics such a great place to work. The purple pool table and Burrito Thursday helps, but it’s mostly the culture.</p>
			<small>Michael Hellicar, UX Designer</small>
		</blockquote>
	</div>
</div><!-- /.row -->

{% include vacancies-panel.html %}

<p class="well">Learn more about our teams: &nbsp;<a href="engineering.html">Engineering</a> &nbsp;|&nbsp; <a href="business.html">Business</a></p>

</div><!-- /.container -->

{% include footer.html %}