---
title: engineering
---

{% include header.html %}

<div class="container">
<div class="page-header">
	<h1>Engineering at Geonomics<br><small>We're here to build ground-breaking web applications with the potential to be used by millions of people. And we want the smartest and most passionate people to help us make it happen.</small></h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-4">
		<img src="images/model-045.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<blockquote class="big">
			<p>(This is a brief statement by the team lead.)</p>
			<small>Matt Young, Chief Technology Officer</small>
		</blockquote>
	</div>
</div>

	<hr>

	<div class="row">
	<div class="col-xs-12 col-md-4">		
		<h3>Technology is at the heart of what we do</h3>
		<p>We've designed and built our high-performance software platform from scratch to be innovative, reliable, secure and scalable. We've used a whole range of tech to build it: Java, Selenium, PostgreSQL, Apache Wicket, Google Maps, HTML, CSS, JavaScript and more.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">		
		<h3>(Sales Point 2)</h3>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-4">
		<h3>(Sales Point 3)</h3>
		<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>A supportive environment</h2>
	</div>
	<div class="col-xs-12 col-md-8">
	
		<p>We have a thorough on-boarding process – including mentoring and an up-to-date “what you need to know” guide – that takes new employees through all the tools, frameworks and processes that they need to know to do the job.</p>
		
		<p>Each person is assigned a technical mentor (for any programming questions they have) and a “GeoBuddy” to guide them around anything else they need to know about working here.</p>
		
		<p>Moreover, our commitment to continuous learning and development is very strong. Our experience is that developers learn faster and better when they are acquiring practical knowledge and skills from colleagues and putting it directly to use solving real problems – rather than sitting in a classroom working on abstract or “toy” problems.</p>
		
		<p>Any new engineering hire at Geonomics will find themselves surrounded by some of London’s brightest and most capable developers, all of whom are approachable and willing to help.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>Hear what our team has to say</h2>
	</div>
	<div class="col-xs-12 col-md-2">
		<img src="images/model-006.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
			<p>"Being part of the process as the company has gone from four people to an up-and-coming force in the lottery world is something that I'm proud of."</p>
			<small>James Maidment, Software Architect</small>
		</blockquote>
	</div>
</div><!-- /.row -->
	
<hr>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h2>We're looking for the best graduate developers</h2>
	</div>
	<div class="col-xs-12 col-md-8">

	<h3>Why is Geonomics a great place for graduate developers to work?</h3>

<p>Well, you’ll be thrown in at the deep end, with your first lines of code live on the production system within weeks. You’ll be doing real work that really matters from the outset.</p>

<p>To help you settle in, you’ll be surrounded by some of the best (and friendliest) engineers from around the world, and you’ll learn faster than you can imagine.</p>

<p>You’ll be working in a company that is growing fast, and with that comes huge opportunity for real career progression. And we’re not talking gold stars and a name badge. We’re talking about responsibility and input.</p>

<p>You’ll earn a competitive starting salary in a package including share options in the company. That means you share in the success that you help us achieve.</p>

<h3>What you'll need</h3>

<ul>
	<li>You’ll either have, or have been predicted, at least a 2:1 from a leading university in Computer Science, Maths or a science or engineering discipline from a leading university.</li>
	<li>You'll need to already have some nifty coding skills, particularly in Java.</li>
	<li>You'll be passionate about technology and have the ability to learn quickly.</li>
</ul>
<hr>
	<h4>One of our success stories</h4>
	<p>Computer Science graduate <strong>Paul Nichols</strong> went from Graduate to Lead Java Developer in no time:</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-2 col-md-offset-4">
		<img src="images/model-016.jpg" width="100%">
	</div>
	<div class="col-xs-12 col-md-6">
		<blockquote>
<p>Despite my lack of initial experience I have gained so much experience in such a huge range of subjects from front end development to writing database queries. When I started at Geonomics I was only one of five developers but the team has gone on to grow and I have established myself as an integral part of the team. I currently work on high priority code, sometimes in high pressure situations.</p>
		</blockquote>
	</div>
</div>

{% include vacancies-panel.html %}

<p class="well">Learn more about our teams: &nbsp;<a href="design.html">Design</a> &nbsp;|&nbsp; <a href="business.html">Business</a></p>

</div><!-- /.container -->

{% include footer.html %}