---
title: contact
---

{% include header.html %}

<div class="container">

<h1>GeoLotto</h1>
<p class="lead">Our innovative draw game utilising the power of Google Maps.</p>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<img src="spacer.png" width="100%" height="300px">
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Pick a place, any place</h2>
		<p>We use a map of your lottery region and divide it into squares which we call “Geos”. Each Geo acts as a lottery ticket. Players navigate the map to find places of significance to them – their old school, their university or their holiday home.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h2>Engage a new generation</h2>
		<p>Locations are emotive and personal, and pose an attractive game proposition to Gen X and Gen Y who enjoy 'checking in' to places on Facebook and on Foursquare. Using Google Maps allows for an engaging game-board, encouraging players to interact with the lottery and experience the fun that is draw-based lottery gaming.</p>
	</div>
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Benefits</h3>
		<p>Something here.</p>		

	</div><!-- /col -->
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Features</h3>
		<p>Something here.</p>
		<h4>Browser-based</h4>
		<p>GeoLotto is a browser-based game which runs on internet-standard infrastructure and is widely accessible on a variety of web browsers, including those supported by iPhone, iPad and Android.</p>		
	</div><!-- /col -->
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Services</h3>
		<p class="lead">Something here.</p>		
		<h4>Hosting options</h4>
		<p>We offer a variety of hosting options so that you may choose whichever works best for you. We are able to fully host or co-host GeoLotto, or can fully integrate the game with your own systems to allow you to independently host the game. The option you choose will have an impact on the cost and length of project and is something we can scope more fully once we understand your preferences.</p>
		<h4>Branding Integration</h4>
		<p>We will skin GeoLotto to your lottery’s branding so that it fits in seamlessly with any pre- existing online gaming portfolio you may already have in place.</p>
		<h4>API (Application Programming Interface)</h4>
		<p>We have built our systems to be flexible and easy to integrate with lottery systems. For starters, this means we can offer Single Sign On, and are able to provide full reporting and auditing integration. We have further documentation which shows the flexibility of our APIs which we can share once we begin scoping how GeoLotto can work for you.</p>
		
	</div><!-- /col -->
</div><!-- /row -->

<hr>

{% include security.html %}

{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}