---
title: GeoLotto
type: geolotto
---

{% include header.html %}

<div class="page-header">
	<div class="container">
		<h1>GeoLotto<br>
		<small>Our innovative lottery draw game utilising the power of Google Maps</small>
		</h1>
	</div>
</div>


<div class="container">

{% include sales-cta-well.html %}

<p>&nbsp;</p>
<h2 class="text-center">Because places are more fun than numbers</h2>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<img src="images/geolotto-product-shot-1.jpg" class="img-responsive" alt="...">
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Pick a place, any place</h3>
		<p>We use a map of your lottery region and divide it into squares which we call 'Geos'. Each Geo acts as a lottery ticket. Players navigate the map to find places of significance to them – their old school, their university or their holiday home.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h3>Engage a new generation</h3>
		<p>Our fun and familiar Google Maps game-board is a smart reinvention of lottery gaming, allowing operators to reach out to new players.</p>
	</div>
</div><!-- /row -->

<hr>

<h2>How it works</h2>

<div class="row">
  <div class="col-xs-12 col-md-12">
	  <img src="images/product-map-1.jpg" class="img-responsive">
  </div><!-- /.col -->
</div><!-- /.row -->

<hr>

<h3>Features</h3>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Multi-platform gaming</h4>
		<p>GeoLotto runs in any standard web browser and is widely accessible on <strong>mobile devices</strong> including including the iPhone and iPad as well as Android.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Social media integration</h4>
		<p>Players can easily connect with social media tools like Facebook and Twitter to invite friends to play and boast about their wins!</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Flexible draw structure</h4>
			<p>Utilising the power of our <strong>hardware random number generator</strong>, operators can configure odds and prize structures with maximum flexibility.</p>	
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->	
		<h4>Game board configuration</h4>
			<p>Lotteries can choose any number of Geos to place on the map and vary their size. Imagine compensating for different population densities to give your players a better chance of winning!</p>
	</div><!-- /.col -->
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h3>Benefits for lottery operators</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Appeals to new players</h4>
		<p>With an ageing player base and an increasing need to attract new, younger players, it is important for lotteries to ensure that their game portfolio appeals to a wider audience.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Non-cannibalistic</h4>
		<p>Recent research conducted in the United States of America also shows that 75-80% of those interested in our games would play them in addition to the lottery games.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Player analytics</h4>
		<p>As players need to create an online account to play GeoLotto, you will very quickly build up a database with invaluable information on your players. </p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Sales growth</h4>
		<p>By attracting new players to your online game portfolio, there is an immediate potential for growth across your entire game portfolio, encouraging increased player interaction with the lottery and, ultimately, higher spend rates.</p>
	</div><!-- /col -->
</div> <!-- /row -->
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Secure data</h4>
		<p>Our products adhere to the highest standards for data security and operational reliability / PCI compliance / Backup Safety / Data Redundancy / Security Audits / Encryption</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Patented technology</h4>
		<p>With a US Patent (number 8,167,701 B2) and a further 18 applications pending, our core technology and gaming concept is protected from infringement.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Structured implementation</h4>
		<p>From project setup to delivery, our 8-step implementation process ensures a smooth transition from kickoff to launch.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Flexible cost model</h4>
		<p>We offer a flexible pricing model based on revenue sharing, license fees or a combination of both that can be tailored to suit your business needs.</p>
<p>(Advanced product customisations beyond standard configuration options will incur additional fees.)</p>
	</div><!-- /col -->
</div> <!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Services</h3>
		<p class="lead">Geonomics offers lottery operators a range of services to deliver the perfect gaming solution</p>
	</div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
	<div class="col-xs-12 col-md-6">		
		<h4>Hosting options</h4>
		<p>We offer a variety of hosting options so that you may choose whichever works best for you. We are able to fully host or co-host GeoLotto, or can fully integrate the game with your own systems to allow you to independently host the game. The option you choose will have an impact on the cost and length of project and is something we can scope more fully once we understand your preferences.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-6">		
		<h4>API (Application Programming Interface)</h4>
		<p>We have built our systems to be flexible and easy to integrate with lottery systems. For starters, this means we can offer Single Sign On, and are able to provide full reporting and auditing integration. We have further documentation which shows the flexibility of our APIs which we can share once we begin scoping how GeoLotto can work for you.</p>
	</div><!-- /.col -->
</div><!-- /.row -->
<div class="row">		
	<div class="col-xs-12 col-md-6">
		<h4>Branding Integration</h4>
		<p>We will skin GeoLotto to your lottery’s branding so that it fits in seamlessly with any pre- existing online gaming portfolio you may already have in place.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-6">		
		<h4>Marketing Support</h4>
		<p>Using our experience operating our own gaming products, we can offer customers incisive marketing advice to create the best conditions for taking their new game to market.</p>
	</div><!-- /.col -->
</div><!-- /.row -->

{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}