@font-face {
	font-family: 'NeoSansStd-Regular';
	src: url('fonts/NeoSansStd-Regular.eot'); /* IE9 Compat Modes */
	src: url('fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/NeoSansStd-Regular.woff') format('woff'), /* Modern Browsers */
	     url('fonts/NeoSansStd-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/NeoSansStd-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	}
	
@font-face {
	font-family: 'NeoSansStd-Bold';
	src: url('fonts/NeoSansStd-Bold.eot'); /* IE9 Compat Modes */
	src: url('fonts/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/NeoSansStd-Bold.woff') format('woff'), /* Modern Browsers */
	     url('fonts/NeoSansStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/NeoSansStd-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
	}


body {
  padding-top: 70px;
}

/* Typography */

/* h1 {font-family: 'NeoSansStd-Bold', sans-serif; line-height: 1.2; margin-bottom: 0.7em;} */

/* a, a:link, a:visited {color: #a100ff;} */

body {font-size: 16px;}
div.row { margin-bottom: 2em; }
.navbar-fixed-bottom {background: f8f8f8; border-top: 1px solid #CCCCCC;}
h1, h2, h3, h4, h5, h6 {margin-bottom: 0.8em; line-height: 1.3;}
p {margin-bottom: 1em;}
.fpo {color: #aaaaaa; font-style: italic;}

.jumbotron { background: #F8F8F8; border: 1px solid #e6e6e6;}
.jumbotron h1 { line-height: 1.1; }

.navbar-fixed-bottom {font-size: 14px;}
.well hr {border-color: #dddddd;}

blockquote.big p {font-size: 30px;}
blockquote p {line-height: 1.4;}

.staff {margin-bottom: 0;}

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 48px;
  }
}