---
title: index
---

{% include header.html %}

    <div class="container">

<!-- Main component for a primary marketing message or call to action -->
           <!-- <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="components/#navbar">View navbar docs &raquo;</a>
        </p>
      </div> -->

            <h1 id="heading1">We make fun and innovative online games (like <a href="http://www.geolotto.co.uk">GeoLotto</a>) for lotteries to connect with new players.</h1>

<p>Our games and systems are super hi-tech. But we make it a simple, uncomplicated and enjoyable process for our clients, working with them in partnership to deliver better products and content for their customers.</p>

    </div> <!-- /container -->


{% include footer.html %}