---
title: index
---

{% include header.html %}

<div class="container">

	<div class="jumbotron">
	    <h1>Location-based lottery games for the next generation of players.</h1>
	    <p>We're working with lottery and gaming operators around the world to start a revolution.</p>
	    <p>&nbsp;</p>
	    <p><a class="btn btn-primary btn-lg" href="products.html">Our Products</a></p>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="well">
				<h4>We're on a mission</h4>
				<p>Lorem ipsum dolor sit amet annui. Lorem ipsum dolor sit amet annui.</p>
				<p><a href="#about">About Geonomics</a> &rarr;</p>
			</div>		
		</div><!-- /col -->
		<div class="col-xs-12 col-md-6">
			<div class="well">
				<h4>We're looking for the best and brightest</h4>
				<p>Lorem ipsum dolor sit amet annui. Lorem ipsum dolor sit amet annui.</p>
				<p><a href="#careers.html">Work at Geonomics </a>&rarr;</p>
			</div>		
		</div><!-- /col -->
	</div><!-- /row -->
	
	<p class="text-center small"><small>Geonomics is a member of the <a href="https://www.world-lotteries.org/cms/">World Lottery Association.</a></small></p>
	
	

</div> <!-- /container -->


{% include footer.html %}