---
title: Geonomics
type: index
---

{% include header.html %}

<div class="container">
	<div class="jumbotron">
	    <h1>Location-based lottery games for the next generation of players</h1>
	    <p>We're working with lottery and gaming operators around the world to start a revolution</p>
	    <p><a class="btn btn-primary btn-lg" href="products.html">Our Products</a></p>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="well">
				<h4>We're on a mission</h4>
				<p>Having established ourselves as one of the UK's most highly-valued young companies, we're set to revolutionise the $260-billion/year global lottery industry.</p>
				<p><a href="about.html">About Geonomics</a> &rarr;</p>
			</div>		
		</div><!-- /col -->
		<div class="col-xs-12 col-md-6">
			<div class="well">
				<h4>We're looking for the best and brightest</h4>
				<p>The exceptional quality of our products is a direct reflection of the people we hire, so we're on the lookout for the right people to join the team.</p>
				<p><a href="careers.html">Work at Geonomics </a>&rarr;</p>
			</div>		
		</div><!-- /col -->
	</div><!-- /row -->
	<div>
		<p><img data-src="holder.js/120x60" alt="..."></p>
		<p><small>Geonomics is a member of the <a href="https://www.world-lotteries.org/cms/">World Lottery Association.</a></small></p>
	</div><!-- /.text-center -->
</div> <!-- /container -->


{% include footer.html %}