---
title: job spec
---

{% include header.html %}

<div class="container">
	<h1>Java Developer</h1>
	<p>London, UK</p>
	<p>Engineering</p>
	<p><strong>Date Posted:</strong> 24 July 2013</p>
	<p>We are looking for an intelligent and effective Java Web Developer for our Instant Win Games (IWG) team. You will have a passion for building leading web applications with the potential to be used by millions of users.</p>
	<p>(Put full job spec here.)</p>
<div class="well">
	<h3>Apply for this job</h3>
	<form role="form">
	  <div class="form-group">
	    <label>Title</label>
	    <select class="form-control">
		  <option>Mr.</option>
		  <option>Miss</option>
		  <option>Mrs.</option>
		  <option>Ms.</option>
		  <option>Dr.</option>
		</select>
	  </div>
	  <div class="form-group">
	    <label>First Name</label>
	    <input class="form-control" placeholder="Enter first name">
	  </div>
	  <div class="form-group">
	    <label>Last Name</label>
	    <input class="form-control" placeholder="Enter last name">
	  </div>  
  	  <div class="form-group">
	    <label>Email Address</label>
	    <input class="form-control" placeholder="Enter email address">
	  </div>
	  <div class="form-group">
	    <label>Phone Number</label>
	    <input class="form-control" placeholder="Enter phone number">
	  </div>
	  <div class="form-group">
	    <label>Attach CV</label>
	    <input type="file">
	  </div>
  	  <div class="form-group">
  	    <label>Message or Cover Letter</label>
	  	  <textarea class="form-control" rows="8" placeholder="Enter message"></textarea>
  	  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div><!-- /.well -->	
	
</div><!-- /.container -->

{% include footer.html %}