---
title: vacancies
---

{% include header.html %}

<div class="container text-collapse">
	<h1>Jobs</h1>
	<p class="lead">We're changing the lottery industry and looking for the best people to join us.</p>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Software Engineering</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="java-developer.html">Java Developer</a></h4>
			<p>London, UK</p>
			<h4><a href="java-developer.html">Java Developer (IWG Team)</a></h4>
			<p>London, UK</p>
			<h4><a href="java-developer.html">Senior Java Developer</a></h4>
			<p>London, UK</p>
			
		</div><!-- /.column -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Information Technology</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Linux Systems Admin</a></h4>
			<p>London, UK</p>
		</div><!-- /.column -->
	</div><!-- /.row -->

	<hr>
	
		<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>University</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Graduate Java Developer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">2013 Summer Software Development Intern</a></h4>
			<p>London, UK</p>

		</div><!-- /.column -->
	</div><!-- /.row -->

	<hr>

	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Design</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Senior UI/UX Web Designer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Marketing Designer</a></h4>
			<p>London, UK</p>
		</div><!-- /.column -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Business Operations</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Business Associate</a></h4>
			<p>London, UK</p>
		</div>
	</div><!-- /.row -->

<!-- Contact form starts here-->
<div class="well">
	<h3>Can't find the job you're looking for?</h3>
	<p>Get in touch: we're always on the lookout for great people to join the team.</p>
	<form role="form">
	  <div class="form-group">
	    <label>Title</label>
	    <select class="form-control">
		  <option>Mr.</option>
		  <option>Miss</option>
		  <option>Mrs.</option>
		  <option>Ms.</option>
		  <option>Dr.</option>
		</select>
	  </div>
	  <div class="form-group">
	    <label>First Name</label>
	    <input class="form-control" placeholder="Enter first name">
	  </div>
	  <div class="form-group">
	    <label>Last Name</label>
	    <input class="form-control" placeholder="Enter last name">
	  </div>  
  	  <div class="form-group">
	    <label>Email Address</label>
	    <input class="form-control" placeholder="Enter email address">
	  </div>
	  <div class="form-group">
	    <label>Phone Number</label>
	    <input class="form-control" placeholder="Enter phone number">
	  </div>
	  <div class="form-group">
	    <label>Attach CV</label>
	    <input type="file">
	  </div>
  	  <div class="form-group">
	    <label>Geonomics Team</label>
	    <select class="form-control">
			  <option>Don't know</option>
			  <option>Engineering</option>
			  <option>Creative</option>
			  <option>Business</option>
			</select>
	  </div>
  	  <div class="form-group">
  	    <label>Message or Cover Letter</label>
	  	  <textarea class="form-control" rows="8" placeholder="Enter message"></textarea>
  	  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div><!-- /.well -->
</div><!-- /.container -->

{% include footer.html %}