---
title: vacancies
active: careers
---

{% include header.html %}

<div class="container text-collapse">
	<div class="page-header">
		<h1>Jobs</h1>
	</div>
	
		<!-- Careers tab navigation -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<ul class="nav nav-tabs">
				<li><a href="careers.html">Working here</a></li>
				<li><a href="teams.html">Teams</a></li>
				<li class="active"><a href="jobs.html">Jobs</a></li>
			</ul>
		</div>		
	</div><!-- /.row -->
	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4">
			<h2>We're looking for the brightest minds to join our team of innovators</h2>
		</div><!-- /.col -->
	</div><!-- /.row -->

	<hr>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Engineering</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="java-developer.html">Java Developer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Java Developer (IWG Team)</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Senior Java Developer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Linux Systems Admin</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Graduate Java Developer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">2013 Summer Software Development Intern</a></h4>
			<p>London, UK</p>

		</div><!-- /.column -->
	</div><!-- /.row -->

	<hr>

	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Design</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Senior UI/UX Web Designer</a></h4>
			<p>London, UK</p>
			<h4><a href="#">Marketing Designer</a></h4>
			<p>London, UK</p>
		</div><!-- /.column -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>Business Operations</h3>
		</div>
		<div class="col-xs-12 col-sm-8">
			<h4><a href="#">Business Associate</a></h4>
			<p>London, UK</p>
		</div>
	</div><!-- /.row -->

<!-- Contact form starts here-->

	<div class="well">
		<h4>Can't find the job you're looking for?</h4>
		<p>If you think you'll fit right in at Geonomics, we want to talk to you.</p>
		<p>Email us: <a href="mailto:jobs@geonomics.com">jobs@geonomics.com</a></p>
	</div>

</div><!-- /.container -->

{% include footer.html %}