---
title: Products
active: products
---

{% include header.html %}

<div class="container">

	<div class="page-header">
<h1>Engage new players with our online map-based lottery games</h1>
	</div>
	
	{% include sales-cta-well.html %}
	
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-6">
  	<div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6">
		<h2><a href="geolotto.html">GeoLotto</a></h2>
		<h3>Our innovative draw game</h3>
		<p>We took a map of Britain and divided it into squares called 'Geos' that act like lottery tickets in a daily prize draw.</p>
		<a class="btn btn-default" href="geolotto.html">Learn More</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>	  
  </div>
  <div class="col-xs-12 col-md-6"><h2><a href="treasure-hunt.html">Treasure Hunt</a></h2>
  <h3>Our exciting instant-win game</h3>
  <p>We show players a map of their region and let them 'dig' for treasure in their favourite places.</p>
  <a class="btn btn-default" href="treasure-hunt.html">Learn More</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6"><h2><a href="treasure-hunt-2nd-chance.html">Treasure Hunt: 2<sup>nd</sup> Chance</a></h2>
  <h3>Our instant-win game with a physical twist</h3>
  <p>We drive traditional scratch ticket players online by giving them a promo code to play <a href="treasure-hunt.html">Treasure Hunt</a> for a second chance to win</p>
    <a class="btn btn-default" href="treasure-hunt-2nd-chance.html">Learn More</a>
  </div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>What makes location-based games so appealing?</h2>
		<p>With the market for traditional number-based lottery games starting to wane, our games are designed to tap into the behaviour of a new set of players: the tech-savvy generation.</p>
		<p>As the use of digital maps and "checking in" on platforms like Facebook and Foursquare has become commonplace, the concept of locations has become more personal and engaging than even before.</p>
		<p>By using the power of Google Maps as the basis for our innovative game-boards, our games offer players a fresh yet familiar way of experiencing the thrill of lottery gaming.</p>
	</div>
	<div class="col-xs-12 col-md-6">
	    <div class="thumbnail">
			<img data-src="holder.js/100%x350" alt="...">
		</div>
	</div>

</div>
<hr>
<h2>Benefits for lottery operators</h2>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3>Wider appeal</h3>
		<p>With an ageing player base for traditional lottery games, our innovative online games can expand your game portfolio to reach a  wider audience.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3>Non-cannibalistic</h3>
		<p>Recent research conducted in the US shows that 75&ndash;80% of players interested in our games would play them <strong>in addition</strong> to traditional lottery games.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3>Player analytics</h3>
		<p>Create invaluable profiles of your players with our extensive analytics data. </p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3>Sales growth</h3>
		<p>By attracting new players, our games offer immediate potential for growth and higher spend rates across your entire portfolio.</p>
	</div><!-- /col -->
</div> <!-- /row -->

{% include security.html %}

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Patented Technology</h2>
	</div> <!-- /.col -->
		<div class="col-xs-12 col-md-6">
		<p>With a US Patent (number 8,167,701 B2) and a further 18 applications pending, our core technology and gaming concept is protected from infringement.</p>
	</div> <!-- /.col -->
</div><!-- /.row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Responsible gaming</h2>
	</div> <!-- /.col -->
		<div class="col-xs-12 col-md-6">
		<p><a href="http://www.gamcare.org.uk/">GamCare</a>, the UK’s National centre for information, advice and practical help regarding the social impact of gambling, has awarded Geonomics with GamCare Certification to acknowledge their achievement in implementing the GamCare Player Protection Code of Practice for Remote Gambling in relation to the Geolotto (UK) online gaming service, implementing the following practices:</p>
			<ul>
				<li>Age verification systems</li>
				<li>Controls for customer spend</li>
				<li>Self exclusion options for players</li>
				<li>Information about responsible gambling and sources of advice and support</li>
				<li>Training for customer services in problem gambling awareness and social responsibility</li>
				<li>Consultation with GamCare when developing new technologies and products</li>
				<li>Support for the work GamCare carries out in addressing the social impact of gambling</li>
			</ul>		
			<p>For information about GamCare and GamCare Certification please visit:</p> 
				<p><a href="http://www.gamcare.org.uk">www.gamcare.org.uk</a><br>	
				<a href="http://www.gamcaretradeservices.com">www.gamcaretradeservices.com</a></p>
<p><img data-src="holder.js/120x120" alt="..."></p>
	</div> <!-- /.col -->
</div><!-- /.row -->

{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}