---
title: contact
---

{% include header.html %}

<div class="container">

<h1>Places are more fun than numbers.</h1>
<p class="lead">Fully configurable location-based lottery games using Google Maps.</p>
<p>&nbsp;</p>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8"><img src="spacer.png" width="100%" height="300px"></div>
  <div class="col-xs-6 col-md-4"><h3><a href="geolotto.html">GeoLotto</a></h3><p>Description of game.</p><button type="button" class="btn btn-default">GeoLotto</button></div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8"><img src="spacer.png" width="100%" height="300px"></div>
  <div class="col-xs-6 col-md-4"><h3>Treasure Hunt</h3><p>Description of game.</p></div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8"><img src="spacer.png" width="100%" height="300px"></div>
  <div class="col-xs-6 col-md-4"><h3>Treasure Hunt 2nd Chance</h3><p>Description of game.</p></div>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Secure & Reliable</h3>
  </div>
  <div class="panel-body">
  <p>Subhead about security.</p>
<ul>
	<li>ISO certified</li>
	<li>Fully PCI compliant</li>
</ul>
  </div>
</div>

</div> <!-- /container -->

{% include footer.html %}