---
title: products
---

{% include header.html %}

<div class="container">

	<div class="page-header">
		<h1>Because places are more fun than numbers<br>
<small>Attract new players with our engaging map-based lottery games</small></h1>
	</div>
	
	{% include sales-cta-well.html %}
	
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-6">
  	<div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6">
		<h3><a href="geolotto.html">GeoLotto</a></h3>
		<p><strong>Our innovative draw game.</strong> We took a map of Britain and divided it into lots of squares called 'Geos'. These act like tickets in a daily prize draw.</p>
		<a class="btn btn-default" href="geolotto.html">Learn More</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>	  
  </div>
  <div class="col-xs-12 col-md-6"><h3><a href="treasure-hunt.html">Treasure Hunt</a></h3>
  <p><strong>Our exciting instant-win game.</strong> Players navigate a map of their region and 'dig' for treasure in their favorite places.</p>
  <a class="btn btn-default" href="treasure-hunt.html">Learn More</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6"><h3><a href="treasure-hunt-2nd-chance.html">Treasure Hunt 2<sup>nd</sup> Chance</a></h3>
  <p><strong>Our online instant-win game with a physical twist.</strong> <em>Treasure Hunt</em> is attached as a promotional game to non-winning scratch tickets to give players a 'second chance' to win online.</p>
    <a class="btn btn-default" href="treasure-hunt-2nd-chance.html">Learn More</a>
  </div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h3>Why locations?</h3>
		<p>Locations are emotive and personal, and pose an attractive game proposition to Gen X and Gen Y who enjoy 'checking in' to places on Facebook and on Foursquare. Using Google Maps allows for an engaging game-board, encouraging players to interact with the lottery and experience the fun that is draw-based lottery gaming.</p>
	</div>
	<div class="col-xs-12 col-md-6">
	    <div class="thumbnail">
			<img data-src="holder.js/100%x350" alt="...">
		</div>
	</div>

</div>
<hr>

{% include benefits.html %}
{% include security.html %}
{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}