---
title: team
---

{% include header.html %}

<div class="container">

<h1>Meet our team</h1>

<div class="row">
<div class="col-xs-12 col-md-12">
	<ul class="nav nav-tabs">
	  <li><a href="about.html">Company</a></li>
	  <li class="active"><a href="team.html">Team</a></li>
	</ul>
</div>
</div>

<h2>Board of Directors</h2>
<h3>Executive Team</h3>
<h4>James Oakes</h4>
<p>Chief Executive Officer & Co-founder</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Henry Oakes</h4>
<p>Sales Director & Co-founder</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Matt Young</h4>
<p>Chief Technology Officer</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Helen Crosby</h4>
<p>Chief Operating Officer</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h3>Non-executives</h3>

<h4>Ben Arbib</h4>
<p>Chairma</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Dr. Has Cornehl</h4>
<p>Chief Executive Officer, Tipp24</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Matthew Byrne</h4>
<p>agel Investor</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Sea O'Connor</h4>
<p>Chairma, Atlatic Lottery Corporation</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<h4>Dr. Helmet Becker</h4>
<p>Chief Marketing Officer, Tipp24</p>
<p>a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here. a detailed bio goes here.</p>

<hr>

<h3>Engineering Team</h3>

{% include staff-faces.html %}

<hr>

<h3>Creative Team</h3>

{% include staff-faces.html %}

<hr>

<h3>Business Team</h3>

{% include staff-faces.html %}

<div class="well">
	<h4>Wat to join the team?</h4>
	<p>Find out more about working at Geonomics.</p>
	<a class="btn btn-primary" href="careers.html">Careers</a>
</div>



</div> <!-- /container -->

{% include footer.html %}