---
title: Teams at Geonomics
---

{% include header.html %}

<div class="container">
	<div class="page-header">
		<h1>Our Teams</h1>
	</div>
	<!-- Careers tab navigation -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<ul class="nav nav-tabs">
				<li><a href="careers.html">Working here</a></li>
				<li class="active"><a href="teams.html">Teams</a></li>
				<li><a href="jobs.html">Jobs</a></li>
			</ul>
		</div>		
	</div><!-- /.row -->
</div><!-- /.container -->

{% include footer.html %}
