---
title: Teams at Geonomics
active: careers

---

{% include header.html %}

<div class="container">
	<div class="page-header">
		<h1>Our Teams</h1>
	</div>
	
	<!-- Careers tab navigation -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<ul class="nav nav-tabs">
				<li><a href="careers.html">Working here</a></li>
				<li class="active"><a href="teams.html">Teams</a></li>
				<li><a href="jobs.html">Jobs</a></li>
			</ul>
		</div>		
	</div><!-- /.row -->
	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4">
			<h2>Hailing from all corners of the globe, the Geonomics family comprises an eclectic mix of over 40 talented individuals across its diverse but tightly integrated teams.</h2>
		</div><!-- /.col -->
	</div><!-- /.row -->
		
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Engineering</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
						<!-- Testimonial start -->
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<img src="images/model-045.jpg" width="100%" class="img-circle">
					</div>
					<div class="col-xs-12 col-md-9">
					<blockquote>
						<p>(Testimonial from staff member... lorem ipsum dolor sit amet laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.)</p>
						<small>Matt Young, Chief Technology Officer</small>
					</blockquote>		
				</div><!-- /.col -->
			</div><!-- /.row -->
			<!-- Testimonial end -->
			<p>We're using world-class technology and processes to build the most powerful, secure and reliable lottery gaming products you've ever seen.</p>
			<p><a class="btn btn-primary" href="engineering.html">Learn More</a></p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Design</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
				<!-- Testimonial start -->
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<img src="images/model-004.jpg" width="100%" class="img-circle">
					</div>
					<div class="col-xs-12 col-md-9">
					<blockquote>
						<p>(Testimonial from staff member... lorem ipsum dolor sit amet laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.)</p>
						<small>Sheen Yap, Head of Creative</small>
					</blockquote>		
				</div><!-- /.col -->
			</div><!-- /.row -->
			<!-- Testimonial end -->
			<p>We're designing games and creating user experiences that are fun, rewarding and visually engaging.</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Sales</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
				<!-- Testimonial start -->
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<img src="images/model-044.jpg" width="100%" class="img-circle">
					</div>
					<div class="col-xs-12 col-md-9">
					<blockquote>
						<p>(Testimonial from staff member... lorem ipsum dolor sit amet laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.)</p>
						<small>Henry Oakes, Sales Director</small>
					</blockquote>		
				</div><!-- /.col -->
			</div><!-- /.row -->
			<!-- Testimonial end -->
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Business Operations</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
<hr>
	
		<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Analytics</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Legal & Compliance</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
<hr>
	
<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Finance</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->

	
{% include vacancies-panel.html %}
	
</div><!-- /.container -->

{% include footer.html %}
