---
title: team
---

{% include header.html %}

<div class="container">

<h1>People power</h1>

<div class="row">
<div class="col-xs-12 col-md-12">
	<ul class="nav nav-tabs">
	  <li><a href="about.html">Company</a></li>
	  <li class="active"><a href="team.html">Team</a></li>
	</ul>
</div>
</div>

<h3>Leadership Team</h3>

<h3>Engineering Team</h3>

<h3>Creative Team</h3>

<h3>Business Team</h3>

<div class="well">
	<h4>Want to join the team?</h4>
	<p>Find out more about working at Geonomics.</p>
	<a class="btn btn-primary" href="careers.html">Careers</a>
</div>



</div> <!-- /container -->

{% include footer.html %}