---
title: Teams at Geonomics
---

{% include header.html %}

<div class="container">
	<div class="page-header">
		<h1>Our Teams</h1>
	</div>
	
	<!-- Careers tab navigation -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<ul class="nav nav-tabs">
				<li><a href="careers.html">Working here</a></li>
				<li class="active"><a href="teams.html">Teams</a></li>
				<li><a href="jobs.html">Jobs</a></li>
			</ul>
		</div>		
	</div><!-- /.row -->
	
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4">
			<h2>Hailing from all corners of the globe, the Geonomics team is proud to feature an eclectic mix of talented individuals across its diverse range of teams.</h2>
		</div><!-- /.col -->
	</div><!-- /.row -->
		
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Engineering</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>We're using world-class technology and processes to build the most powerful, secure and reliable lottery gaming products you've ever seen.</p>
			<p><a class="btn btn-default" href="engineering.html">Learn More</a></p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Design</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>We're designing games and creating user experiences that are fun, rewarding and visually engaging.</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Sales</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Operations</h3>
		</div><!-- /.col -->
		<div class="col-xs-12 col-md-7">
			<p>(Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.)</p>
		</div><!-- /.col -->
	</div><!-- /.row -->
	
{% include vacancies-panel.html %}
	
</div><!-- /.container -->

{% include footer.html %}
