---
title: team
---

{% include header.html %}

<div class="container text-collapse">

<h1>Meet our team</h1>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<ul class="nav nav-pills">
		  <li><a href="about.html">Company</a></li>
		  <li class="active"><a href="team.html">Team</a></li>
		  <li><a href="about-min.html">About (Minimal)</a></li>
		</ul>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-xs-12 col-sm-3">
	<h3>Executive Team</h3>
	</div>
	<div class="col-xs-12 col-sm-3">	
		<img src="images/model-043.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-6">	
		<h4>James Oakes</h4>
		<p><em>Chief Executive Officer & Co-founder</em></p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-offset-3">	
		<img src="images/model-044.jpg" class="img-responsive"> 
	</div>	
	<div class="col-xs-12 col-sm-6">
		<h4>Henry Oakes</h4>
		<p><em>Sales Director & Co-founder</em></p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-offset-3">	
		<img src="images/model-045.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-6">
		<h4>Matt Young</h4>
		<p><em>Chief Technology Officer</em></p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-xs-12 col-sm-3 col-md-offset-3">	
		<img src="images/model-008.jpg" class="img-responsive">
	</div>	
	<div class="col-xs-12 col-sm-6">
		<h4>Helen Crosby</h4>
		<p><em>Chief Operations Officer</em></p>
		<p>A detailed but concise biography of this person goes here... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
	</div>
</div><!-- /.row -->


<hr>

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<h3>Non-executive Directors</h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h4>Ben Arbib</h4>
		<p>Chairman</p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h4>Dr. Hans Cornehl</h4>
		<p>Chief Executive Officer, Tipp24</p>
	</div>
	<div class="col-xs-12 col-sm-3">
		<h4>Matthew Byrne</h4>
		<p>Angel Investor</p>
	</div>
</div><!-- /.row -->
<div class="row">
	<div class="col-xs-12 col-sm-3 col-sm-offset-3">
		<h4>Sean O'Connor</h4>
		<p>Chairman, Atlantic Lottery Corporation</p>
	</div>
	<div class="col-xs-12 col-sm-3">		
		<h4>Dr. Helmet Becker</h4>
		<p>Chief Marketing Officer, Tipp24</p>	
	</div>
</div><!-- /.row -->

<hr>

<h3>Engineering Team</h3>

{% include staff-faces.html %}

<hr>

<h3>Creative Team</h3>

{% include staff-faces.html %}

<hr>

<h3>Business Team</h3>

{% include staff-faces.html %}

<div class="well text-center">
	<h4>Want to join the team?</h4>
	<p>Find out more about working at Geonomics.</p>
	<a class="btn btn-primary" href="careers.html">Careers</a>
</div>

</div> <!-- /container -->

{% include footer.html %}