---
title: Treasure Hunt 2nd Chance
---

{% include header.html %}

<div class="container">

<div class="page-header">
	<h1>Treasure Hunt: 2<sup>nd</sup> Chance<br><small>Combine scratch tickets with Treasure Hunt &mdash; our map-based instant-win game &mdash; to drive players online</small></h1>
</div>

{% include sales-cta-well.html %}

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="thumbnail">
			<img data-src="holder.js/100%x400" alt="...">
		</div>
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Lose offline, win online</h2>
		<p><strong>Treasure Hunt: 2nd Chance</strong> allows holders of participating non-winning scratch tickets a 'second chance' to win through our engaging online instant-win game, <a href="treasure-hunt.html">Treasure Hunt</a>. Players simply validate the code on their ticket, receive their free credits and 'dig' around on a map see what prizes they can unearth.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h2>Invigorate ticket sales, overcome those pesky regulations</h2>
		<p><strong>Treasure Hunt: 2nd Chance</strong> provides lotteries a means of offering their players a truly interactive, mobile optimised game in today’s regulatory environment.</p>
	</div>
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-12">
	<h2>How the 'second chance' game works</h2>
	<p class="lead">The game starts when a player buys a participating scratch ticket in a retail store...</p>
		<p><img src="images/2nd-chance-user-journey.png" class="img-responsive"></p>
		<h4>The User's Journey</h4>
		<ol>
			<li>A player buys a participating scratch ticket from a retail store. If he doesn't win, he can use the 2nd Chance access code on the ticket</li>
			<li>The players goes to the game website</li>
			<li>The player logs in or registers then enters their access code(s)</li>
			<li>The player's valid code assigns them a pre-determined outcome, win or lose</li>
			<li>If the player wants to dig again, he buys another ticket</li>
		</ol>
	</div>
</div>

<hr>

<h3>Features</h3>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Multi-platform Gaming</h4>
		<p>GeoLotto runs in any standard web browser and is widely accessible on <strong>mobile devices</strong> including including the iPhone and iPad as well as Android.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Social Media Integration</h4>
		<p>Players can easily connect with social media tools like Facebook and Twitter to invite friends to play and boast about their wins!</p>	
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>(3rd Feature)</h4>
			<p>(Lorem ipsum dolor sit amet annui.)</p>	
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->	
		<h4>Game board configuration</h4>
			<p>Lotteries can choose any number of Geos to place on the map and vary their size. Imagine compensating for different population densities to give your players a better chance of winning!</p>	
	</div><!-- /.col -->
</div><!-- /row -->

{% include treasure-hunt-custom.html %}
{% include services.html %}

<hr>

{% include benefits.html %}
{% include security.html %}
{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}