---
title: Treasure Hunt
---

{% include header.html %}

<div class="container">

<div class="page-header">
	<h1>Treasure Hunt<br><small>Our thrilling instant-win game: dig for prizes on Google Maps!</small></h1>
</div>

{% include sales-cta-well.html %}

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="thumbnail">
			<img data-src="holder.js/100%x400" alt="...">
		</div>
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Click to dig, win instantly</h2>
		<p>Treasure Hunt is an instant-win game where players click an interactive map to 'dig' for cash prizes and a key to unlock the Grand Treasure.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h2>It's fast, it's fun</h2>
		<p>Combining the speed of an instant-win game with the engaging interactive experience of Google Maps, Treasure Hunt allows operators to appeal to new players with a concept that's both unique and familiar.</p>
	</div>
</div><!-- /row -->

<hr>

<h2>How to play</h2>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-push-6">
  	<div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-pull-6">
		<h3>1. Search the map</h3>
		<ul>
			<li>Players are shown a <strong>Google Map</strong> divided into squares called <strong>Geos</strong></li>
			<li>Players can choose any Geo they like: their home, a landmark, their football club, their workplace... whatever they fancy!</li>
		</ul>
  </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-push-6">
  	<div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-pull-6">
		<h3>2. Dig a Geo</h3>
		<ul>
			<li>Players must be registered and deposit funds before they can play</li>
			<li>Once registered, users can click any Geo on the map to dig it up for prizes: their home, a famous landmark, their workplace... anywhere!</li>
		</ul>
  </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-push-6">
  	<div class="thumbnail">
		<img data-src="holder.js/100%x350" alt="...">
	</div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-pull-6">
		<h3>3. Win instantly</h3>
		<ul>
			<li>Players receive instant feedback if their Geo yields a prize</li>
			<li>Game odds and prize levels can be configured to the operator's requirements</li>
		</ul>
  </div><!-- /.col -->
</div><!-- /.row -->

<hr>

<h3>Features</h3>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Multi-platform Gaming</h4>
		<p>GeoLotto runs in any standard web browser and is widely accessible on <strong>mobile devices</strong> including including the iPhone and iPad as well as Android.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>Social Media Integration</h4>
		<p>Players can easily connect with social media tools like Facebook and Twitter to invite friends to play and boast about their wins!</p>	
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h4>(3rd Feature)</h4>
			<p>(Lorem ipsum dolor sit amet annui.)</p>	
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->	
		<h4>Game board configuration</h4>
			<p>Lotteries can choose any number of Geos to place on the map and vary their size. Imagine compensating for different population densities to give your players a better chance of winning!</p>	
	</div><!-- /.col -->
</div><!-- /row -->

{% include treasure-hunt-custom.html %}
{% include services.html %}

<hr>

{% include benefits.html %}
{% include security.html %}
{% include sales-contact.html %}

</div><!-- /container -->

{% include footer.html %}