---
title: contact
---

{% include header.html %}

<div class="container">

<h1>Treasure Hunt</h1>
<p class="lead">Our thrilling instant-win game: dig for prizes on Google Maps!</p>

<div class="row">
	<div class="col-xs-12 col-md-12">
			<img src="images/treasure-hunt-screenshot.jpg" class="img-responsive">
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Click to dig, win instantly</h2>
		<p>Treasure Hunt is an instant-win game where players click an interactive map to 'dig' for cash prizes and a key to unlock the Grand Treasure.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h2>It's fast, it's fun</h2>
		<p>Combining the speed of an instant-win game with the engaging interactive experience of Google Maps, Treasure Hunt allows operators to appeal to new players with a concept that's both unique and familiar.</p>
	</div>
</div><!-- /row -->

<hr>

<h3>Features</h3>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<h4>Multi-platform Gaming</h4>
		<p>Treasure Hunt is a browser-based game which runs on internet-standard infrastructure and is widely accessible on a variety of web browsers, including those supported by iPhone, iPad and Android.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
	<h4>Customised Geos</h4>
		<p>Players can make the game personal to them by customising their Geos. Geos can be given names and taglines, giving players the chance to tell everyone why they chose that location.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
	<h4>Social Media Integration</h4>
		<p>Not only can players use social media tools to invite their friends to play Treasure Hunt, they
can use it as a means of boasting about their wins! The in-built “Share My Win” option links Treasure Hunt to social networking sites, including Facebook and Twitter, allowing for a quick and easy announcement of their win.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
	<h4>Themed Games</h4>
		<p>Players can participate in exciting themed games, which the lottery can create for promotions. Game-boards can be set over Caribbean Islands, where players play for the chance to win a luxury Caribbean Holiday! Or sports venues can be the focus of a draw by celebrating the Olympics, the Football World Cup or local sporting events. This keeps the game fun and engaging, and gives players the innovation and change they’re looking for!</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<h4>Flexible Draw Structure</h4>
			<p>We endeavour to offer a game which offers maximum flexibility in allowing lotteries to create prize structures and odds which complement their requirements. A Hardware Random Number Generator is used to select Geos and allocate them to a prize tier.</p>	
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<h4>Game board configuration</h4>
			<p>The number of Geos placed over the map is completely configurable, and it’s up to you how many you’d like. We also vary the size of Geos – larger Geos in rural areas, and smaller Geos in urban areas and on points of interest so that more people can be involved in the action! So don’t worry if you’ve got areas of high population density – we will adjust the size of each Geo so that everyone has a fair chance to play. This approach also keeps most of the prize winning Geos concentrated in relevant places!
</p>	
	</div><!-- /.col -->
</div><!-- /row -->

{% include treasure-hunt-custom.html %}
{% include services.html %}

<hr>

{% include benefits.html %}
{% include security.html %}
{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}