---
title: Treasure Hunt 2nd Chance
type: geolotto
active: products
---

{% include header.html %}

<div class="page-header">
	<div class="container">
	<h1>Treasure Hunt: 2<sup>nd</sup> Chance<br><small>Combine scratch tickets with Treasure Hunt to drive players online</small></h1>
	</div>
</div>

<div class="container">

{% include sales-cta-well.html %}

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="thumbnail">
			<img data-src="holder.js/100%x400" alt="...">
		</div>
	</div>
</div><!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Lose offline, win online</h2>
		<p><strong>Treasure Hunt: 2nd Chance</strong> allows holders of participating non-winning scratch tickets a 'second chance' to win through our engaging online instant-win game, <a href="treasure-hunt.html">Treasure Hunt</a>. Players simply validate the code on their ticket, receive their free credits and 'dig' around on a map to see what prizes they can unearth.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<h2>Invigorate ticket sales, overcome those pesky regulations</h2>
		<p><strong>Treasure Hunt: 2nd Chance</strong> provides lotteries a means of offering their players a truly interactive, mobile optimised game in today’s regulatory environment.</p>
	</div>
</div><!-- /row -->

<hr>

<div class="row">
	<div class="col-xs-12 col-md-12">
	<h2>How the 'second chance' game works</h2>
	<p class="lead">The game starts when a player buys a participating scratch ticket in a retail store...</p>
		<!--<p><img src="images/2nd-chance-user-journey.png" class="img-responsive"></p>-->
		<p><img src="holder.js/100%x600"></p>
		<h3>The Player's Journey</h3>
		<ol>
			<li>A player buys a participating scratch ticket from a retail store. If he doesn't win, he can use the 2nd Chance access code on the ticket</li>
			<li>The players goes to the game website</li>
			<li>The player logs in or registers then enters their access code(s)</li>
			<li>The player's valid code assigns them a pre-determined outcome, win or lose</li>
			<li>If the player wants to dig again, he buys another ticket</li>
		</ol>
	</div>
</div>

<hr>

<h3>Features</h3>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h3>Scratch Ticket development</h3>
			<p>We'll work with you and your printer to create the perfect ticket considering your customers, portfolio and strategic goals.</p>	
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h3>Multi-platform Gaming</h3>
		<p><strong>Treasure Hunt</strong> runs in any standard web browser and is widely accessible on <strong>mobile devices</strong> including the iPhone and iPad as well as Android.</p>		
	</div><!-- /col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
		<h3>Social Media Integration</h3>
		<p>Players can easily connect with social media tools like Facebook and Twitter to invite friends to play and boast about their wins!</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-3">
		<div class="thumbnail">
			<img data-src="holder.js/100%x200" alt="...">
		</div><!-- /.thumbnail -->
				<h3>Customisation options</h3>
			<p>Change the map, games odds, prize levels, digging avatars, sounds and more. For an added fee, we can even create custom storylines for your game with characters, themes and even a plot!</p>
	</div><!-- /col -->
</div><!-- /row -->

<hr>

{% include benefits.html %}
{% include services.html %}

<hr>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Our proven track record</h2>
	</div>
	<div class="col-xs-12 col-md-6">
		<p>We've been operating <a href="https://geolotto.co.uk/treasurehunt?slotId=1" target="new">Treasure Hunt in the UK</a> under our own licence, which makes us well placed to support licensees launch the game around the world.</p>
		<a class="btn btn-default" href="https://geolotto.co.uk/treasurehunt?slotId=1" target="new">Play Treasure Hunt</a>
	</div>
</div><!-- /row -->

{% include sales-contact.html %}

</div> <!-- /container -->

{% include footer.html %}