<h3>Benefits</h3>	
	<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Attract new players</h4>
		<p>With an aging player base and an increasing need to attract new, younger players, it is important for lotteries to ensure that their game portfolio appeals to a wider audience.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Non-cannibalistic</h4>
		<p>Recent research conducted in the United States of America also shows that 75-80% of those interested in our games would play them in addition to the lottery games.</p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Know your players</h4>
		<p>As players need to create an online account to play GeoLotto, you will very quickly build up a database with invaluable information on your players. </p>
	</div><!-- /col -->
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4>Grow sales</h4>
		<p>By attracting new players to your online game portfolio, there is an immediate potential for growth across your entire game portfolio, encouraging increased player interaction with the lottery and, ultimately, higher spend rates.</p>
	</div><!-- /col -->
</div> <!-- /row -->
