<p>&nbsp;</p>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
          <ul class="nav navbar-nav">
            <li><a href="contact.html">Contact</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="privacy.html">Privacy & Cookies</a></li>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="http://www.linkedin.com/company/geonomics">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/pages/Geonomics/397409547005995">Facebook</a></li>
            <li><a href="https://twitter.com/Geonomics">Twitter</a></li>
          </ul>
    	<p class="navbar-text"><small>&copy; 2010–2014 Geonomics. Regulated by the <a href="http://www.gamblingcommission.gov.uk/">UK Gambling Commission</a>. Licence number: 000-027369-R-315446-001</small></p>
	</div><!-- /.container -->

</nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/holder.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>