<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
          <ul class="nav navbar-nav">
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#about">News</a></li>
            <li><a href="#careers">Privacy & Cookies</a></li>
            <li><a href="#careers">Terms & Conditions</a></li>
          </ul>
          	<p class="navbar-text navbar-right">&copy; 2010–2014 Geonomics. All rights reserved.</p>
	</div>
        
</nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>