<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h3>Implementation</h3>
		<p>From project setup to regulatory research, marketing, technical integration, training and more, our thorough implementation process ensures a smooth transition from kickoff to launch.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-sm-6">
		<h3>Costs</h3>
		<p>We offer a flexible pricing model based on revenue sharing, license fees or a combination of both: whichever suits your business.</p>
	</div><!-- /.col -->
</div><!-- /.row -->

<hr>