<hr>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2>Security & Reliability</h2>
			<p class="lead">Our products adhere to the highest standards for data security and operational reliability.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h4 id="pcicompliant">PCI compliant</h4>
			<p>Our processes and infrastructure comply with the highest Payment Card Industry and Gambling Commission security standards. We've also had a full review of our systems performed by a Qualified Security Assessor (QSA) to ensure our ability to self-certify and maintain future compliance.</p>
	
			<h4 id="safetyinbackups">Backup safety</h4>
			<p>We maintain regular and frequent backups of all system and game data. All backups are encrypted before transfer to a secure on-site location (either a geographically-constrained instance of Amazon S3, as used by GeoLotto in the UK, or to an alternate data centre).</p>
	
			<h4 id="dataredundancynosinglepointsfailure">Data redundancy</h4>
			<p>Our gaming solutions are architected with full redundancy to ensure that no individual server is a single point of failure. Therefore, the loss of an entire server (physical or virtual) or a switch will not halt the operation of the game. Additionally, all servers, firewalls and switches have redundant disks, power and network connections for maximum failsafe protection.</p>
		</div><!-- /.col -->
		
	<div class="col-xs-12 col-md-6">
			<h4 id="independentsecurityaudits">Independent security audits</h4>
			<p>Geonomics has an annual independent security audit performed with the results submitted to the UK Gambling Commission to meet their technical security standards. The security standards are based in part on ISO 27001.</p>
	
			<h4 id="othersecuritymeasures:">Other security measures</h4>
			<ul>
				<li>Segmented network architecture</li>
				<li>Tight access control</li>
				<li>Comprehensive logging and audit trails and daily log review</li>
				<li>Intrusion detection system</li>
				<li>Web application firewall</li>
				<li>File integrity monitoring</li>
				<li>Industry accepted best-practice build standards</li>
				<li>Regular patching cycles</li>
				<li>Secure coding standards</li>
				<li>Change management procedures</li>
				<li>Penetration testing and internal and external vulnerability scanning at regular intervals and upon significant changes</li>
				<li>Encryption of sensitive data</li>
			</ul>
		</div><!-- /.col -->
	</div><!-- /.row -->

<hr>