<hr>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<h3>Services</h3>
		<p class="lead">Geonomics offers lottery operators a range of services to deliver the perfect gaming solution</p>
	</div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
	<div class="col-xs-12 col-md-6">		
		<h4>Hosting options</h4>
		<p>We offer a variety of hosting options so that you may choose whichever works best for you. We are able to fully host or co-host GeoLotto, or can fully integrate the game with your own systems to allow you to independently host the game. The option you choose will have an impact on the cost and length of project and is something we can scope more fully once we understand your preferences.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-6">		
		<h4>API (Application Programming Interface)</h4>
		<p>We have built our systems to be flexible and easy to integrate with lottery systems. For starters, this means we can offer Single Sign On, and are able to provide full reporting and auditing integration. We have further documentation which shows the flexibility of our APIs which we can share once we begin scoping how GeoLotto can work for you.</p>
	</div><!-- /.col -->
</div><!-- /.row -->
<div class="row">		
	<div class="col-xs-12 col-md-6">
		<h4>Branding Integration</h4>
		<p>We will skin GeoLotto to your lottery’s branding so that it fits in seamlessly with any pre- existing online gaming portfolio you may already have in place.</p>
	</div><!-- /.col -->
	<div class="col-xs-12 col-md-6">		
		<h4>Marketing Support</h4>
		<p>Using our experience operating our own gaming products, we can offer customers incisive marketing advice to create the best conditions for taking their new game to market.</p>
	</div><!-- /.col -->
</div><!-- /.row -->