<div class="row">
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-042.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-043.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-044.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">
		<img src="images/model-045.jpg" class="img-responsive">	
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
		<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-046.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-047.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-048.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">
		<img src="images/model-049.jpg" class="img-responsive">	
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-042.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-043.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">	
		<img src="images/model-044.jpg" class="img-responsive">
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-2">
		<img src="images/model-045.jpg" class="img-responsive">	
		<h5 class="staff">Name of Staff Member</h5>
		<p><small>Job Title</small></p>
	</div>

</div><!-- /.row -->